.displayScreen {
    background-color: white;
    color: black;
    font-weight: bold;

    height: 95vh;
}

/* The code here covers the info section */
.displayScreen > .infoSection {
    height: fit-content;
    background-color: rgb(0, 139, 139);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

.infoSection > p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.infoSection > .contactInfo {
    display: flex;
    gap: 20px;
}

.contactInfo > p {
    font-size: 15px;
    font-weight: 500;
}

/* The code here covers the education section */
.educationSection {
    height: 30%;
    /* margin-top: -20px; */

    display: flex;
    flex-direction: column;
    align-items: center;

}

.sectionName {
    width: 80%;
}

.sectionName > p {
    margin: 0;
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin: 0;
}

.sectionContent {
    display: flex;
    justify-content: space-between;
    width: 80%;

    font-size: 15px;
    font-weight: 500;
}

.leftContent > p, .rightContent > p {
    margin:0;
}

#schoolName {
    font-weight: bold;
}
/* The code here covers the work section */

.workSection {
    height: 40%;
    margin-top: -20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#jobName {
    font-weight: bold;
}