.infoContainer {
    display: flex;
    flex-direction: column;

    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    padding: 15px;

    height: auto;
    font-size: 15px;
    color: black;
}

.infoHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.infoHead > p {
    margin: 0;
    font-size: 25px;
    font-weight: bolder;
}

.infoForm.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.05s ease;
    height: 0;
}

.infoForm.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: 0.05s ease;
    height: fit-content;
}

.infoForm {
    display: flex;
    flex-direction: column;

    height: auto;
    font-size: 15px;
}

.infoForm > button {
    align-self: flex-end;
    margin-top: 20px;
    font-size: 15px;
}

.infoForm > label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.infoForm > input {
    font-size: 18px;
    color: white;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 15px;
    outline: none;

    padding: 10px;
    margin-bottom: 10px;
}

.infoForm > input:focus {
    border: 1px solid white;
}

.editContainer {
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
}

.displayedInfo > p {
    margin: 0;
    font-weight: 500;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editBtn {
    padding: 10px 25px;
    border-radius: 1em;
}

hr.roundEdit {
    border-top: 5px solid #bbb;
    border-radius: 5px;
    margin: 0;
    margin-top: 5px;
}