/* Setting as border-box helps disable the scrollbar experience with 100vw */
* {
  box-sizing: border-box;
}


.appContainer {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  /* border: 2px solid yellow; */

  background-color: gray;
  
  display: grid;
  grid-template-columns: 200px 500px 1fr;
  grid-gap: 30px;
}

.contentContainer{
  display:flex;
  flex-direction: column;
  gap: 15px;

  overflow-y: auto;
}

/* Hide scrollbar for other browsers */
.contentContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide scrollbar for Firefox */
.contentContainer {
  scrollbar-width: none;
}
